.app-table__table {
  width: 80%;
  margin: 0 auto;
}

.app-table__table,
.app-table__table tr,
.app-table__table td,
.app-table__table th {
  border-collapse: collapse;
}

.app-table__table td,
.app-table__table th {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
