* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  min-width: 350px;
  padding: 15px;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: #1a5320;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: inherit;
  font-weight: bold;
  margin-top: 15px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#messageArea {
  font-weight: bold;
  font-size: 1.1rem;
}

img {
  width: 200px;
}
